@media screen and (max-width: 570px) {
    nav, .menu-bar> ul{
        flex-direction: column;
        gap: 30px;
        text-align: center;
        align-items: center;
        
    }
     .banner{
        flex-direction: column-reverse;
        margin-top: 30px;
        gap: 20px;
    }
    .banner-img, .banner-description{
        width: 95%;
        margin:20px auto;     
    }
    .dot{
        height: 10px;
        width: 10px;
    }
    /* online games and videos responsiveness */
    .card-container{
        flex-direction: column;
    }
    .play{
        flex-direction: column;
        width: auto;
    }
    .play-description{
        padding: 0;
        width: 100%;
        text-align: center;
    }
    .positioning{
            width: 70%;
    }
    .back-img{
        width: 100%;
    }
    .front-img{
            /* display: none; */
            width: 50%;
    }
    /* .play-img{
        width: 70%;
    }
    .play-small-img{
        width: 55%;
        height: 45%;
    } */
    /* game section responsive */
    .games-container{
        grid-template-columns: repeat(3, 1fr);
        padding: 0;
        margin: 0;
        gap: 5px;
    }
    .games{
        padding: 0;
    }

}

@media screen and (min-width: 570px) and (max-width:920px) {
    
    .banner{
        flex-direction: column-reverse;
        margin-top: 30px;
        gap: 20px;
    }
    .banner-img, .banner-description{
        width: 95%;
        margin:20px auto;     
    }
    .dot{
        height: 10px;
        width: 10px;
    }
}